# Ignore Python bytecode files
__pycache__/
*.pyc

# Ignore environment-specific files
.env
.venv/
env/
venv/

# Ignore dependency and build directories
.eggs/
dist/
build/

# Ignore logs and temporary files
*.log
*.swp
.DS_Store

# Ignore user-specific settings (e.g., Visual Studio Code settings)
.vscode/
.idea/

# Ignore virtual environment configurations
pyvenv.cfg
Pipfile.lock

# Ignore specific .py files
scribble.py

# Ignore all .py files in a directory
obsolete/*.py

# Ignore some directories




